*{
    margin: 0;
    padding: 0;
}

body{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 10vh;
    overflow-x: hidden;
}

html{
    background: rgba(67, 104, 85, 0.826);
}

button{
    background-color: #ffff;
    color: #090909;
    border: none;
    padding:10px 30px;
    border-radius: 999px;
    font-size: 1.2rem;
    opacity: 0.8;
    font-weight: 700;
}

button:hover{
    cursor: pointer;
    box-shadow: rgb(30, 110, 106) 0px 5px 15px;
    opacity: 1;
}


.cx{
    background-color: #0fa7ff;
    color: #090909;
    border: none;
    padding:2px;
    font-size: 1.2rem;
    opacity: 0.8;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid black;
}

#img{
    height: 500px;
    border-radius: 3%;
    border: 5px solid black
}

#ul{
    height: 100px;
    border-radius: 13%;
    border: 5px solid black
}

#resultado{
    padding: 20px;
    color:black;
    text-align: center;
}
